.h1 {
  color: aquamarine;
  border: 15px;
}
.o {
  color:  black;
  border: 15px;
}
.ip {
  color: darkred;
  text-decoration: none;
  border: 15px;
}
.tel {
  color: rgb(34, 70, 25);
  text-decoration: none;
  border: 15px;
}
.don {
  color: rgb(28, 132, 132);
  text-decoration: none;
  border: 15px;
}
.comand {
  color: aqua;
  text-decoration: none;
  border: 15px;
}
.d {
  color: chocolate;
  text-decoration: none;
  border: 15px;
}
.pelm {
  color:  aquamarine;
  border: 15px;
}
.pomt {
    color: aquamarine;
    border: 15xp;
}
.dopinfa {
  color: blue;
  text-decoration: none;
  border: 15px;}
.com {
  color: aquamarine;
  text-decoration: none;
  border: 15px;}
}
.rod {
  color: aquamarine;
  text-decoration: none;
  border: 15px;}
}